.title {
    margin: 50px;
    text-align: center;
    font-weight: 800;
    color: rgb(252, 215, 94);
    text-shadow: -3px -3px 4px rgba(253, 104, 119, 0.93);
    font-size: 5em;
  }

  .phome {
    color: aliceblue;
    font-size: 20px;
    text-align: justify;
  }