.navbar {
   
 background-color:rgba(252, 215, 94, 0.181); 
}
.active {
  color: aliceblue;
  /* background-color: #da6161;  */
  background-color: rgb(252, 215, 94);
  /*  text-shadow: -3px -3px 4px rgba(253, 104, 119, 0.93); */
}

.navbar .nav-link.active {
  color: blue;
}

.profile-picture-container {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
  border-radius: 50%;
}



.bg-light {
  position: relative;
  bottom: 0;
}

#nav {
  color: rgb(252, 215, 94);
  font-size: 1.5em;
  font-weight: 500;
}



